@model companyViewModel;
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/register.css">
  <title>Cadastro!</title>
</head>
<body>
  <a href="@Url.Action("namePage", "user")" class="arrowButton">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left"
      viewBox="0 0 16 16">
      <path fill-rule="evenodd"
        d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
    </svg>
  </a>
  <h1 class="nameText">Digite o nome que você gostaria que fosse mostrado para seus clientes.</h1>
    @using (Html.BeginForm("companyPage","user", FormMethod.Post))
  {
    <div class="input-label-company">
      @Html.LabelFor(model => model.companyName)
      @Html.TextBoxFor(model => model.companyName, new {@class = "input-company"})
      @Html.ValidationMessageFor(user => user.companyName, "", new { @class = "error-text"})
    </div>
   <input type="submit" value="Continuar" class="button">
  }
</body>
</html>
