@model productViewModel; 
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Home Page</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="/css/product.css">
    <script src='main.js'></script>
</head>
<body>
    <div class="icon-container"></div>
    <a href="@Url.Action("Index", "Home")" class="arrowButton">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left"
      viewBox="0 0 16 16">
      <path fill-rule="evenodd"
        d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
    </svg>
  </a>
  <div>
    <p class="produtos-text">Produtos</p>
  </div>
    @using (Html.BeginForm("homePage","product", FormMethod.Post))
    { 
       <input type="submit" value="Novo produto" class="button">
    }
</body>
</html>