<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <title>Login</title>
</head>
<body>
  <main>
    <div class="container">
      <form action="" id="login-form">
        <img src="~/Images/flor.png" class="image" usemap="#image-map">
        <label for="name" class="input-label">Email</label>
        <input type="text" name="email" id="email" class="input-text">
        <label for="email" class="input-label">Senha</label>
        <div class="input-group">
          <input type="password" id="senha" name="senha" class="input-text">
          <a onclick="mostrarSenha()" class="eyeButton"><svg xmlns="http://www.w3.org/2000/svg"
              width="20" height="20" fill="currentColor" class="bi bi-eye-slash-fill" viewBox="0 0 16 16">
              <path
                d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588zM5.21 3.088A7.028 7.028 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474L5.21 3.089z"/>
              <path
                d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829l-2.83-2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12-.708.708z"/>
              </a>
        </div>
        <p><a href="cadastro" class="textPass">Esqueceu a senha?</a></p>
        <button type="submit" class="button">Entrar</button>
        <p class="text">Não possuí uma conta?@Html.ActionLink("Cadastrar", "namePage", "user", null, new {@class = "text2"})</p>
      </form>
      <map name="image-map">
        <area target="_self" alt="" title=""
          href="https://3.bp.blobgspot.com/-1GMOd3Xn6Os/UR5eMJFv23I/AAAAAAAACvc/tpO0_nDKR_0/s1600/8037_213402805452498_1255315837_n.jpg"
          coords="113,136,134,152" shape="rect">
      </map>
    </div>
  </main>
</body>
</html>