.produtos-text{
    position: absolute;
    width: 84px;
    height: 33px;
    left: 70px;
    top: 27px;
    font-family: 'Baloo';
    font-size: 25px;
    display: block;
}

.button {
    font-family: 'Baloo';
    background-color: #67D4B1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 9px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    width: 259px;
    height: 48px;
    position: fixed;
    bottom: 10px;
    right: 0;
    left: 0;
  }

  .icon-container {
    position: relative;
  }
  
  .arrowButton {
    color: black;
    position: absolute;
    top: 31px;
    left: 0;
  }
  
  .arrowButton:hover{
    color: black;
  }

  .arrowButton-Register{
    color: black;
    position: absolute;
    top: 10px;
    left: 0;
  }

  .arrowButton-Register:hover{
    color: black;
  }

  .icon-container {
    position: relative;
  }
  
  .text{
    display: grid;
    place-items: center;
    font-family: 'Baloo';
    font-size: 25px;
    margin-top: 20px;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 112px;
    height: 111px;
    margin: 3px;
    background: rgba(103, 212, 177, 0.3);
    border-radius: 9px;
    display:inline-block;
    place-items: center;
  }

  .card-body{
    display: flex;
    justify-content: center;
  }
  
  .bi-camera{
    align-items: center;
    margin-top: 10px;
}

.first-card{
    display: block;
    width: 100%;
    text-align: center;
}

.cat{
    padding-top: 5px;
    display: block;
    width: 100%;
    text-align: center;
    padding-right:120px;
}

.cat-box{
    display: block;
    width: 100%;
    text-align: center;
    padding-right:295px;
}
.input-label{
  margin: 0 auto;
  font-family: 'Baloo';
  display: block;
  color: #756e6e;
  font-size: 15px;
  margin-top: 25px;
  align-items: center;
  width: 350px;
}
.input-text{
  color: #333333;
  margin: 0 auto;
  border: none;
  border-bottom: 1px solid #756e6e;
  font-size: 1rem;
  display: block;
  align-items: center;
  width: 350px;
  outline: none;
}
.error-text{
  margin: 0 auto;
  font-family: 'Baloo';
  display: block;
  color: #333333;
  font-size: 15px;
  margin-top: 10px;
  align-items: center;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #0F7319;
}

input:focus + .slider {
  box-shadow: 0 0 1px #0F7319;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switchButton{
  padding-left: 200px;
}

.switch{
  display: block;
  margin: auto;
  margin-top: 15px;
}